body {
  background-color: #FFF;
}

h1,h2  {
  color: #F00;
}

#test01 {
  color: #00a;
}

#test02 {
  color: #882;
}

.important {
  color: #a00;
}

td,th {
  border: solid thin;
}

div h1{
  color: #00f;
}

.header {
  background-color: yellow;
}

.ol {
  background-color: #fbb4cf;
}

.el {
  background-color: #8fd3f1;
}

.last3 {
  font-weight: bold;
}

.name {
  text-align: center;
}